[submodule "dotvim/pack/default/opt/gruvbox"]
	path = dotvim/pack/default/opt/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "dotvim/pack/default/start/fugitive"]
	path = dotvim/pack/default/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dotvim/pack/default/start/coc"]
	path = dotvim/pack/default/start/coc
	url = https://github.com/neoclide/coc.nvim
[submodule "dotvim/pack/default/start/numbertoggle"]
	path = dotvim/pack/default/start/numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
